    body{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    body{
        flex-direction: column;
    }
    .countdown {
        background-image: url(images/front_page_responsive.jpg);
        height: 100vh;
        width: 100%;
        color: black;
        text-align: center;
        background-repeat: no-repeat;
    }
    .countdown h1 {
        font-family: 'Great Vibes', cursive;
        font-weight: 100;
        font-size: 12vh;
        margin: 0;
    }
    .countdown h3{
        font-family: 'Playfair Display', serif;
        font-weight: 100;
        font-size: 6vh;
        margin: 29vh 0 0 0;
        color: white;
    }
    .countdown h5{
        padding-top: 18vh;
        font-weight: bold;
        font-family: 'Calibri';
        letter-spacing: 5px;
        font-size: 100%;
        margin: 0;
    }
    .our-story{
        margin: 5vh 0 0 0;
        text-align: center;
    }
    .our-story h1 {
        font-family: 'Parisienne', cursive;
        font-size: 7vh;
        margin: 0;
        padding: 0;
        color: #6665B1;
    }
    .our-story h5{
        margin: -2vh 0 0 0;
        font-weight: bold;
        font-family: 'Calibri';
        font-size: 1.7vh;
        color: #7a2772;
    }
    .our-story__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3vh auto;
    }
    .our-story__img{
        width: 30vh;
        border: #6665B1 2px solid;
        border-radius: 100%;
    }
    .our-story__text{
        text-align: left;
        width: 95%;
        font-family: 'Calibri';
        font-weight: 100;
        font-size: 2.7vh;
        margin: 3vh 0 5vh 2vh;
    }
    .our-story__text .bolder{
        font-weight: 900;
        color: #7a2772;
    }
    .splitter {
        margin: 4vh 0;
        background-color: #6665b18f;
        height: 30vh;
    }
    .phrase {
        margin: -38vh auto 2%;    
        border: #7a2772 2px solid;
        width: 60%;
        text-align: center;
        color: #7a2772;
        font-size: 5vh;
        font-family: 'Meow Script', cursive;
        padding: 3vh 2vh;
    }
    .when-where{
        color: black;
        margin: 6% auto;
        text-align: center;
    }
    .when-where h1{
        font-family: 'Parisienne', cursive;
        font-size: 7vh;
        margin: auto;
        color: #6665B1;
    }
    .when-where h5{
        margin: -2vh 0 2vh 0;
        font-family: 'Calibri';
        font-size: 1.9vh;
        color: #7a2772;
    }
    .when-where__tiles-info {
        background-color: white;
        display: flex;
        flex-direction: column;
    }
    .when-where__tiles-info div{
        padding: 2vh;
        text-align: center;
        font-family: 'Calibri';
    }
    .when-where__tiles-info div h2{
        margin: 0vh;
    }
    .maps iframe{
        width: 100%;
        height: 25vh;
    }
    i{
        color: #7a2772;
        font-size: 3vh;
    }
    .gallery{
        text-align: center;
        margin: auto; 
    }
    .gallery img{
        padding: 0vh;
        width: 18vh;
    }
    .highlights{
        color: black;
        text-align: center;
    }
    .highlights h1{
        font-family: 'Parisienne', cursive;
        font-size: 7vh;
        margin-bottom: 1%;
        color: #6665B1;
    }
    .highlights__tiles{
        display: flex;
        flex-direction: column;
        font-family: 'Calibri';
        align-items: center;
    }
    .highlights__tiles h2{
        margin:  0vh;
    }
    .highlights__tiles div{
        width: 85%;
        text-align: center;
        font-family: 'Calibri';
        padding: 2vh 0vh;
        background-color: white;
    }
    .attend {
        margin: 0;
        padding-bottom: 5%;
        display: flex;
        align-items: center;
    }
    .attend__title{
        background-image: url(images/attend.jpg);
        width: 65%;
        height: 40vh;
    }
    .attend__info{
        height: 45vh;
        border: #7a2772 2px solid;
        text-align: center;
        padding: 1vh;
        margin-top: 4vh;
        width: 28vh;
        font-family: 'Calibri';
        font-weight: 100;
        font-size: 2.2vh;
    }
    .attend__info h1{
        font-family: 'Parisienne', cursive;
        font-weight: bold;
        font-size: 5vh;
        margin: 0vh;
        padding: 0;
        color: #7a2772;
    }
    .attend__info .bolder{
        font-weight: bold;
    }
@media only screen  and (min-device-width: 415px) {
    body{
        width: 500px;
        margin: auto;
    }
    
}
