body{
    margin: 0vw;
    padding: 0vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

label {
    font-weight: 500;
}

.countdown {
    /*background: #dedad04d;*/
    background: url("LupitaJoseTomadosManoObscuro.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30% 5% 40%;
    box-sizing: border-box;
    margin-bottom: 5vh;
}

.countdown h1 {
    font-family: 'Great Vibes', cursive;
    font-weight: 500;
    font-size: 15vw;
    text-align: left;
    text-align: center;
    /*color: #8f4951;*/
    color: white;
    margin: 1rem 0;
}

.countdown div {
    margin-top: auto;
    color: #707563;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    background-color: #ffffffa1;  
    width: 19rem;
    border-radius: 10px 10px; 
}

.countdown div .counter {
    font-size: 1.3rem;
    font-family: 'Poppins';
    font-weight: 600;
}

.countdown div .counter span {
    font-weight: 200;
    font-size: 1rem;
}

.countdown h3{
    font-size: 2.3rem;
}

.countdown h5{
    font-weight: bold;
    font-family: 'Poppins';
    letter-spacing: 5px;
    font-size: .8rem;
    color: #707563;
    color: white;
}

.our-story{
    padding: 10% 5% 5% 5%;
    text-align: center;
}

.our-story h1 {
    font-family: 'Parisienne';
    font-size: 3rem;
    color: #8f4951;
}

.our-story h5{
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 1.1rem;
    color: #707563;
}

.our-story__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3vh auto;
}

.our-story__img{
    width: 30vh;
    border-radius: 100%;
}

.our-story__text {
    text-align: justify;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1rem;
    margin-top: 1rem;
}
       
.our-story__text .bolder{
    font-weight: 900;
    font-family: 'Poppins';
    font-size: 1rem;
    color: #8f4951;
}

.blessed {
    text-align: center;
    font-family: 'Poppins'; 
    padding: 0 5% 10% 5%;
    text-align: center;  
}
.blessed .blessed__parents{
    justify-content: center;
}
.blessed .blessed__parents__names{
    font-size: 1.5rem;
    font-family: 'Parisienne', cursive;
    color: #8f4951;
    padding: 3% 3%;
}
.blessed .blessed__new-family{
    font-size: 3rem;
    font-family: 'Parisienne', cursive;
    color: #8f4951;
    padding: 1% 3%;
}

.phrase {
    border: #707563 2px solid;
    width: 70%;
    text-align: center;
    color: #707563;
    font-size: 2.5rem;
    font-family: 'Meow Script', cursive;
    padding: 3%;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
}

.phrase::before {
    content: '';
    width: 100vw;
    position: absolute;
    height: 100px;
    background-color: #dedad04d;
    height: 70%;
    top: 15%;
    left: 0;
    transform: translateX(-15%);
    z-index: -1;
}

.when-where{
    color: black;
    margin: 6% auto;
    text-align: center;
}

.when-where h1{
    font-family: 'Parisienne', cursive;
    font-size: 3rem;
    margin: auto;
    color: #8f4951;
}
    
.when-where h5{
    font-family: 'Poppins';
    font-size: 1.9vh;
    color: #707563;

}

.when-where__tiles-info {
    display: flex;
    flex-direction: column;
}

.when-where__tiles-info div{
    padding: 2vh;
    text-align: center;
    font-family: 'Poppins';
}
    
.when-where__tiles-info div h2{
    margin: 0vh;
}
    
.maps iframe{
    width: 100%;
    height: 25vh;
}

i{
    color: #818a6b;
    font-size: 2rem;
}

.gallery{
    text-align: center;
    margin: auto; 
    margin-bottom: 2rem;
}
.gallery img{
    padding: 0;
    width: 24vw;
}
.highlights{
    color: black;
    text-align: center;
}

.highlights h1{
    font-family: 'Parisienne', cursive;
    margin-bottom: -2%;
    color: #8f4951;
    font-size: 3rem;
}

.highlights__tiles{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    align-items: center;
}

.highlights__tiles h2{
    margin:  0vh;
}

.highlights__tiles div{
    width: 85%;
    text-align: center;
    font-family: 'Poppins';
    padding: 2vh 0vh;
}

.attend {
    padding-bottom: 5%;
    display: flex;
    align-items: center;
}

.attend__title{
    width: 50vw;
    height: auto;
    margin-top: 2rem;
}

.attend__info{ 
    border: #707563 2px solid;
    text-align: center;
    padding: 1vh;
    margin-top: 4vh;
    width: 50vw;
    font-family: 'Poppins';
    font-weight: 100;
    font-size: 1rem;
    box-sizing: border-box;
}

.attend__info h1{
    font-family: 'Parisienne', cursive;
    font-weight: bold;
    font-size: 5vh;
    margin: 0vh;
    padding: 0;
    color: #8f4951;
}

.attend__info .bolder{
    font-weight: bold;
}

a{
    text-decoration: none;
    font-weight: 600;
    color: #8f4951;
}

@media only screen and (min-width: 735px) {
    .countdown {
        padding-top: 10% 0;
    }

    .when-where {
        padding: 5%;
        margin-top: 0;
    }

    .when-where__tiles-info {
        flex-direction: row;
    }

    .highlights__tiles{
        flex-direction: row;
        flex-wrap: wrap;
        padding: 5%;
    }

    .highlights__tiles div {
        width: 33%;
    }

    label {
        font-size: .8rem;
    }

    .highlights__tiles h2,
    .when-where__tiles-info h2
     {
        font-size: 1rem;
    }
}